html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.banner {
    display: grid;
    background-color: black;
    height: 100%;
    width: 100%;
    grid-template-rows: 2fr 7fr 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "a a a"
                         ". . ."
                         "b b b"
                         "c c c"
                         "d d d"
                         ". e ."
}

.navigation {
    display: grid;
    position: fixed;
    grid-template-columns: 2fr 3fr 50fr 1fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: ". a . b . c .";
    width: 100%;
    margin-top: 10px;
}

.nav-title {
    grid-area: a;
    height: 40px;
    margin: auto;
}

.nav-title-img {
    height: 40px;
    margin: auto;
    display: block;
}

#profile-btn {
    grid-area: b;
}

#contact-btn {
    grid-area: c;
}


.nav-text {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.nav-text-2nd-page {
    color: black;
}

.nav-button {
    margin: auto;
    font-size: 1.5em;
    background: none;
    border: none;
}

#title-box {
    grid-area: b;
}

#subtitle {
    grid-area: c;
}

#title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -1px;
    font-size: 3em;
    margin: 0;
    color: white;
}

.db-group {
    grid-area: e;
    top: 80vh;
    margin: auto;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.8s;
}

.down-button1 {
    position: relative;
    top: 50%;
    left: 33.5%;
    color: white;  
}

.down-button2 {
    position: relative;
    right: 20%;
    color: white;
}

.db {
    font-size: 24px;
}

.outer-history {
    padding: 10px;
    background-image: url(sample-workplace-BG.jpg);
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-history1 {
    border: 2px solid white;
    padding: 6px;
}

.inner-history2 {
    height: auto;
    border: 4px white solid;
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-template-rows: 80px 1fr 3fr 40px 1fr 4fr 40px 1fr 4fr 80px;
    grid-template-areas: ". . ."
                         ". e ."
                         ". s ."
                         ". . ."
                         ". w ."
                         ". j ." 
                         ". . ."
                         ". k ."
                         ". i ."
                         ". . .";      
}

#education-header {
    grid-area: e;
    color: white;
    border-bottom: 1px white solid;
}


#work-header {
    grid-area: w;
    color: white;
    border-bottom: 1px white solid;
}

#education-items {
    grid-area: s;
    opacity: 0;
}

#work-items {
    grid-area: j;
    opacity: 0;
}

#skills-header {
    grid-area: k;
    color: white;
    border-bottom: 1px white solid;
}

#skills-items {
    grid-area: i;
    opacity: 0;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    grid-template-rows: 5fr 5fr 5fr;
    margin: 5px 0;
}

.skills-logo {
    height: auto;
    width: 100%;
    max-width: 60px;
    padding: 15px;
    margin: auto;
}

.history-header {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.history-items {
    font-family: 'Oswald', sans-serif;
    margin: 5px 0 2px 0;
    font-size: 1.2em;
    color: white;
}

.history-subitems {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: -5px 0 0 0;
    text-align: right;
    color: white;
}

.intro {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . ."
                         "a a a"
                         ". b ."
                         "c c c"
                         "d d d"
                         "e e e"
                         "f f f";
}

.intro-text {
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: auto;
    grid-area: a;
    font-size: 3.5rem;
    opacity: 0;
    position: relative;
}

#intro-text-box {
    grid-area: b;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -1px;
    position: relative;
    margin-bottom: auto;
    margin-top: 0;
    opacity: 0;   
 }

.intro-desc {
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -1px;
    text-align: center;
    margin: 10px;
}

#intro-pic-box {
    grid-area: d/d/f/f;
    position: relative;
}

#intro-pic {
    width: auto;
    max-height: 100%;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#know-me {
    border: black 2px solid;
    opacity: 0;
    background: none;
    grid-area: c;
    height: 50px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    transition: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.3s;
}

#know-me:hover {
    background-color: rgba(0,0,0,0.65);
    color: white;
}

#know-me:active {
    top: 2px;
    transition: 0s;
}

#principles-page {
    display: grid;
    background-color: whitesmoke;
    padding: 40px 20px;
    grid-auto-rows: max-content;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e"
                         "f"
                         "g";
}

.main-principle-header {
    font-family: 'Anton', sans-serif;
    margin: auto;
    text-align: center;
    grid-area: a;
}

.sub-principle-header {
    grid-area: b;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    margin: auto;
    padding-bottom: 30px;
}


.principle {
    padding: 30px;
    opacity: 0;
}

.principle-title {
    font-family: 'Sanchez', serif;
}

.principle-subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    color: darkred;
}

.quote {
    font-family: 'Work Sans', sans-serif;
}

.quote-person {
    font-family: 'Work Sans', sans-serif;  
    text-align: right
}

.quotation-marks-left {
    font-size: 120px;
    color: rgba(130,0,0,0.60);
    float: left;
    margin: 0px 10px;
    padding: 0px;
    height: 32px;
}

.quotation-marks-right {
    display:inline;
    font-size: 120px;
    color: rgba(130,0,0,0.60);
    float: right;
    margin: 0px 10px;
    padding: 0px;
    height: 32px;
    position: relative;
    bottom: 40px;
    clear:left;
}

.quote-whole {
    padding: 10px;
    max-width: 540px;
}

.banner-quote-whole {
    margin: auto;
    position: relative;
    top: 20%;
    padding: 10px;
    max-width: 540px;
    background-color: rgba(0,0,0,0.70);
    color: white;
}

#banner1 {
    height: 100%;
}

#contact-page {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15fr 2fr 2fr 4fr 1fr;
    grid-template-areas: ". . ."
                         ". a ."
                         ". b ."
                         ". . ."
                         ". c .";
}

#contact-text {
    font-family: 'Anton', sans-serif;
    grid-area: a;
    margin-top: auto;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: bottom;
    font-size: 3em;
    color: black;
}

#contact-logo-grid {
    grid-area: b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: auto;
    width: 100%;
}

.contact-logo-pic {
    width: 70%;
    min-width: 45px;
    max-width: 70px;
    margin: auto;
    display: block;
}

.contact-logo {
    margin: auto;
}

#footer {
    font-size: 14px;
    grid-area: c;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}



@media only screen and (min-width: 576px){
        .navigation {
            height: 8vh;
        }
    
        #title-box {
            grid-area: b
        }

        #subtitle {
            grid-area: c
        }
        
        .inner-history2 {
            grid-template-columns: 1fr 3fr 6fr 1fr;
            grid-template-rows: 3fr 3fr 1fr 4fr 1fr 5fr 3fr;
            grid-template-areas: ". . . ."
                                 ". e s ."
                                 ". . . ."
                                 ". w j ."
                                 ". . . ."
                                 ". k i ."
                                 ". . . .";
        }
        
        #work-header {
            border-bottom: none;
            border-right: white 1px solid;
            margin: 10px;
        }
    
        #education-header {
            border-bottom: none;
            border-right: white 1px solid;
            margin: 10px;
        }
    
        .history-subitems {
            text-align: left;
            margin-left: 100px
        }
    
        #skills-header {
            border-bottom: none;
            border-right: white 1px solid;
            margin: 10px;
        }
        
        .skills-logo {
            max-width: 55px;
            padding: 10px;
        }
    
        #skills-items {
            margin: 0 50px;
            grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
            grid-template-rows: 5fr 5fr;
        }
        
        .intro {
            height: 100%;
            display: grid;
            grid-template-columns: 3fr 5fr 10fr 10fr 10fr;
            grid-template-rows: 1fr 5fr 2fr 2fr 5fr;
            grid-template-areas: ". . . d d"
                                 ". a a d d"
                                 ". b b d d"
                                 ". c c d d"
                                 ". . . d d";
   
        }
        
        #intro-pic-box {
            grid-area: d;
            overflow-x: hidden;
        }
        
        #intro-pic {
            height: 100%;
            width: auto;
            margin: none;
            left: 0      
        }

        #know-me {
            margin-top: 4%;
            margin-bottom: auto;
        }
    
        #contact-page {
            grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
            grid-template-rows: 20fr 2fr 4fr 4fr 1fr;
            grid-template-areas: ". . . . ."
                                 ". a a a ."
                                 ". . b . ."
                                 ". . . . ."
                                 ". . c . .";
        }
    
        .contact-logo {
            width: 70%;
            margin: auto;
        }
    
        #contact-text {
            font-size: 3em;
        }
        
        #principles-page {
            
            padding: 40px 10%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0fr 0fr 1fr 1fr;
            grid-template-areas: "a a"
                                 "b b"
                                 "c d"
                                 
        }
    
        .banner-quote-whole {
            margin: 0px;
            position: relative;
            top: 20%;
            left: 10%;
            padding: 10px;
            max-width: 540px;
            background-color: rgba(0,0,0,0.70);
            color: white;
        }
    
}
